.book-filter {
    background-color: var(--clr2bg);
    padding-block: 1em;
}

.book-filter > h2 {
    margin-top: 0;
}

.book-filter form {
    display: grid;
    grid-template-columns: 120px 220px;
    gap: .5em;
}

.book-filter form button {
    margin-inline: 0
}